header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 150px 0;
}

.header-icon {
    color: #fff;
}

.header-icon:hover {
    color: #cecece;
}

figure {
    padding: 15px;
}

figcaption > a {
    color: #6c757d;
}

.card {
    float: none;
    margin: 0 auto 10px;
}
